<div class="col-12">
    <h1 class="title">{{mv.title}} Movie</h1>
    <div class="card">
    <div class="card-body">
        <div>
            <div align="center">
    <img src="{{{mv.imageurl}}}" style="width: 400px;height: 400px;"> </img>
    </div>
    <p class="card-text">{{{mv.title}}}</p>
    <p class="card-text"> Release date: {{{mv.year}}}</p>
    <p class="card-text"> About this movie: {{{mv.summary}}}</p>
    <p class="card-text"> Director: {{{mv.director}}}</p>
    <p class="card-text"> country: {{{mv.country}}}</p>
    <p class="card-text"> Rate: {{{mv.rate}}}/10</p>
</div>
    <div align="right">
        <a href="/Movies" class="btn btn-sm btn-secondary">Return</a>
    </div>
</div> 